name: Build Tokens

on:
  push:
    branches: [ "main" ]
    paths: [ "sample_tokens" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run Weaver
        uses: ./
        with:
          tokens_path: 'sample_tokens'
          output_path: 'output'

      - name: Upload files
        uses: actions/upload-artifact@v3
        with:
          name: output
          path: ./output
